In [ ]:
#6. Create a list(friend_names) with your friends names(atleaste 10 names)?
#print all names with in loop 
#Expected Output: my friend name is "ravi"
#		     my friend name is "shanker"

In [1]:
list=["anitha","vanaja","prasanna","sivadevi","vanitha","anusha","poojitha","sruthi","mamatha","manasa"]
for p in list:
    print("*****my friend name is*****",p)

*****my friend name is***** anitha
*****my friend name is***** vanaja
*****my friend name is***** prasanna
*****my friend name is***** sivadevi
*****my friend name is***** vanitha
*****my friend name is***** anusha
*****my friend name is***** poojitha
*****my friend name is***** sruthi
*****my friend name is***** mamatha
*****my friend name is***** manasa

In [ ]:
#7. Create a list(family_members) with your family members names(atleaste 10 names)?
#print all names with in loop

In [2]:
list=["venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedhramma","bhogiraju","nagajyothi","lakshamana","umadevi","poojitha"]
for p in list:
    print(p)

venkataraju
dhanalakshmi
gopalakrishna
dasaradharamayya
nagedhramma
bhogiraju
nagajyothi
lakshamana
umadevi
poojitha

In [ ]:
#8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
#print all names with in loop

In [3]:
list=["brinjal","tomato","angular gourds","ladys finger","gherkins","potato","bitter gourds","bottle gourds","sanke gourds","cucumber"]     
for p in list:
    print(p)

brinjal
tomato
angular gourds
ladys finger
gherkins
potato
bitter gourds
bottle gourds
sanke gourds
cucumber

In [ ]:
#9. Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
#print all names with in loop

In [4]:
tuple=("fish","egg","chicken","mutton","fishbiryani","prawn","chicken biryani","mutton biryani","thandoori","prawn biryani")
for p in tuple:
    print(p)

fish
egg
chicken
mutton
fishbiryani
prawn
chicken biryani
mutton biryani
thandoori
prawn biryani

In [ ]:
#10. Create a set(colour_names) with your colour names(atleaste 10 names)?
#print all names with in loop

In [5]:
set={"white","black","red","blue","green","yellow","pink","brown","orange","grey"}
for swathi in set:
    print(swathi)

green
red
blue
grey
white
yellow
pink
orange
black
brown

In [ ]:
#11. Create a list(month_names) with your month names(atleaste 10 names)?
#print all names with in loop

In [6]:
list=["january","february","march","april","may","june","july","august","september","october","november","december"]
for z in list:
    print(z)

january
february
march
april
may
june
july
august
september
october
november
december

In [ ]:
#12. print 9th table (1 to 90)

In [7]:
range(9,91,9)
for z in range(9,91,9):
    print(z)

9
18
27
36
45
54
63
72
81
90

In [ ]:
#13. print(12th table (1 to 120)

In [8]:
range(12,123,12)
for x in range(12,123,12):
    print(x)

12
24
36
48
60
72
84
96
108
120